﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Menu.Master" AutoEventWireup="true" CodeBehind="Directorio.aspx.cs" Inherits="Emplea.Directorio" %>
<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
   
<%--    <main >
        <div class="col-12 col-md-12 izq perfil">
                <div class="row">
                    <div class="col-12">
                        <div class="encabezado">Buscar en Directorio</div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-3 col-md-3 label">Nombre</div>
                    <div class="col-6 col-md-6 value">
                        <div class="form-group">
                            <input type="text" class="form-control" id="txtNombre" aria-describedby="nombreHelp" placeholder="Nombre" value="">
                        </div>
                    </div>
                    <div class="col-md-2">
                                       <button type="button" class="btn btn-info" id="btnNombre" ><i style="color:White;" class='fa fa-search fa-3'  aria-hidden='true'></i>  
                                        Buscar </button>
                                    </div>
                </div>
                <div class="row">
                    <div class="col-3 col-md-3 label">Puesto</div>
                    <div class="col-6 col-md-6 value">
                        <div class="form-group">
                            <input type="text" class="form-control" id="txtPuesto" aria-describedby="PuestoHelp" placeholder="Puesto" >
                        </div>
                    </div>
                    <div class="col-md-2">
                                       <button type="button" class="btn btn-info" id="btnPuesto" ><i style="color:White;" class='fa fa-search fa-3'  aria-hidden='true'></i>  
                                        Buscar </button>
                                    </div>
                </div>
                <div class="row">
                    <div class="col-3 col-md-3 label">Dependencia</div>
                    <div class="col-6 col-md-6 value">
                        <div class="form-group">
                            <input type="text" class="form-control" id="txtDependencia" aria-describedby="dependenciaHelp" placeholder="Dependencia" >
                        </div>
                    </div>
                    <div class="col-md-2">
                                       <button type="button" class="btn btn-info" id="btnDependencia" ><i style="color:White;" class='fa fa-search fa-3'  aria-hidden='true'></i>  
                                        Buscar </button>
                                    </div>
                </div>

          
            </div>




    </main>


--%>









<%--    <div class="content-nomina">
        <h4>DIRECTORIO</h4>
        <div class="border-small"></div>
        <br>
         <div class="main-container container--wide container">
            <div class="col-12 col-md-12 izq perfil">
                <div class="row">
                    <div class="col-12">
                        <div class="encabezado">Buscar en Directorio</div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-3 col-md-3 label">Nombre</div>
                    <div class="col-6 col-md-6 value">
                        <div class="form-group">
                            <input type="text" class="form-control" id="txtNombre" aria-describedby="nombreHelp" placeholder="Nombre" value="">
                        </div>
                    </div>
                    <div class="col-md-2">
                                       <button type="button" class="btn btn-info" id="btnNombre" ><i style="color:White;" class='fa fa-search fa-3'  aria-hidden='true'></i>  
                                        Buscar </button>
                                    </div>
                </div>
                <div class="row">
                    <div class="col-3 col-md-3 label">Puesto</div>
                    <div class="col-6 col-md-6 value">
                        <div class="form-group">
                            <input type="text" class="form-control" id="txtPuesto" aria-describedby="PuestoHelp" placeholder="Puesto" >
                        </div>
                    </div>
                    <div class="col-md-2">
                                       <button type="button" class="btn btn-info" id="btnPuesto" ><i style="color:White;" class='fa fa-search fa-3'  aria-hidden='true'></i>  
                                        Buscar </button>
                                    </div>
                </div>
                <div class="row">
                    <div class="col-3 col-md-3 label">Dependencia</div>
                    <div class="col-6 col-md-6 value">
                        <div class="form-group">
                            <input type="text" class="form-control" id="txtDependencia" aria-describedby="dependenciaHelp" placeholder="Dependencia" >
                        </div>
                    </div>
                    <div class="col-md-2">
                                       <button type="button" class="btn btn-info" id="btnDependencia" ><i style="color:White;" class='fa fa-search fa-3'  aria-hidden='true'></i>  
                                        Buscar </button>
                                    </div>
                </div>

          


            </div>
            <br/>
                


            
        
        
        
    </div>






   
    </div>


--%>

      <div class="content-nomina">
        <h4>Directorio</h4>
        <div class="border-small"></div>
        <br>

        <div class="main-container container--wide container">

             <div class="row">
                    <div class="col-12">
                        <div class="encabezado">Buscar en Directorio</div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-3 col-md-3 label">Nombre</div>
                    <div class="col-6 col-md-6 value">
                        <div class="form-group">
                            <input type="text" class="form-control" id="txtNombre" aria-describedby="nombreHelp" placeholder="Nombre" value="">
                        </div>
                    </div>
                    <div class="col-md-2">
                                       <button type="button" class="btn btn-info" id="btnNombre" ><i style="color:White;" class='fa fa-search fa-3'  aria-hidden='true'></i>  
                                        Buscar </button>
                                    </div>
                </div>
                <div class="row">
                    <div class="col-3 col-md-3 label">Puesto</div>
                    <div class="col-6 col-md-6 value">
                        <div class="form-group">
                            <input type="text" class="form-control" id="txtPuesto" aria-describedby="PuestoHelp" placeholder="Puesto" >
                        </div>
                    </div>
                    <div class="col-md-2">
                                       <button type="button" class="btn btn-info" id="btnPuesto" ><i style="color:White;" class='fa fa-search fa-3'  aria-hidden='true'></i>  
                                        Buscar </button>
                                    </div>
                </div>
                <div class="row">
                    <div class="col-3 col-md-3 label">Dependencia</div>
                    <div class="col-6 col-md-6 value">
                        <div class="form-group">
                            <input type="text" class="form-control" id="txtDependencia" aria-describedby="dependenciaHelp" placeholder="Dependencia" >
                        </div>
                    </div>
                    <div class="col-md-2">
                                       <button type="button" class="btn btn-info" id="btnDependencia" ><i style="color:White;" class='fa fa-search fa-3'  aria-hidden='true'></i>  
                                        Buscar </button>
                                    </div>
                </div>





            <div class="container">

                <table class="tablemanager table" id="Tabla">
                </table>
            </div>
            <br />
            <br />
            
        </div>
    </div>









     

     

</asp:Content>

