﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Menu.Master" AutoEventWireup="true" CodeBehind="Forma37.aspx.cs" Inherits="Emplea.Forma37" %>
<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">

    <div class="content-nomina">
        <h4>Constancia de sueldos y retenciones (Forma 37)</h4>
        <div class="border-small"></div>
        <br>

        <div class="main-container container--wide container">
            <div class="container">

                <table class="tablemanager table" id="Tabla"><thead class="thead-dark"><tr><th>RFC</th><th>Nombre</th><th>Año</th><th>Constancia</th></tr></thead><tbody><tr><td class="prova">ROGJ700725QN6</td><td class="prova">JAIME RODRIGUEZ GAONA</td><td class="prova">2021</td><td class="prova"><button class="btn   btnPDF" rfc="ROGJ700725QN6" anio="2021">PDF<div class="icon-download"></div></button></td><td></td></tr></tbody></table>
            </div>
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
        </div>
    </div>
     
</asp:Content>
