
/*Estilos generales*/

html,
body {
    color:var(--accent);
}

/*Fin defs estilos generales*/

/*Estilos para header*/

header {
    padding-left: 5% !important;
    padding-right: 5% !important;
}

/*Fin de estilos para header*/

/*Estilos para footer*/

footer.blue {
    background: var(--primary) !important;
}

/*Fin de estilos para footer*/