@import 'variables.css';
@import 'generales.css';

@font-face {
    font-family: 'Branding SF';
    src: url('BrandingSF-Medium.eot');
    src: local('Branding SF Medium'), local('BrandingSF-Medium'),
        url('BrandingSF-Medium.eot?#iefix') format('embedded-opentype'),
        url('BrandingSF-Medium.woff2') format('woff2'),
        url('BrandingSF-Medium.woff') format('woff'),
        url('BrandingSF-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
body {
  background-color: #F6F9FD;
}

h3 {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
}

.row {
  margin-bottom: 1rem;
}
.row .row {
  margin-top: 1rem;
  margin-bottom: 0;
}
[class*="col-"] {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

hr {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.form-control {
    padding: 0.575rem 0.95rem;
}
.form-signin {
  width: 95%;
  padding: 20px;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.margin-auto {
    margin: 0 auto;
}
/*.margin-auto h3 {
    text-align: center;
}*/
header#navbar .container-fluid .navbar-header {
    margin-right: 20px;
}
header#navbar .label-header {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  color: rgba(115, 131, 156, 0.89);
}
header#navbar .container-fluid.menu-main {
    padding: 0;
}
header#navbar .container-fluid.menu-main > .col {
  padding-left: 11px;
}
footer {
    float: left;
    width: 100%;
}
footer.blue {
    background: #051521;
    padding: 5% 5% 0% 5% ;
    clear: left;
}
footer.white {
    background: #EFEFEF;
    padding: 1% 5%;
    text-align: center;
    clear: left;
}
footer .region.region-footer-logo img.footer_img {
    padding: 0% 20%;
}
footer.white .alineado {
  float: left;
  font-family: 'Branding SF';
  font-style: normal;
  font-weight: 600;
  font-size: 11px;
  line-height: 14px;
  /* identical to box height */
  letter-spacing: 0.15em;
  color: #B08C55;
  display: contents;
}
footer.white .alineado img {
  height: 25px;
  margin: 0% 2%;
}
.izq {
    float: left;
}
.der {
    float: right;
}
.alineado {
    float: left;
}
footer h3 {
  color: #ffffff;
  padding: 0 15px;
}
footer p {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
  color: #FFFFFF;
}
footer ul.menu {
    padding: 0;
}
footer ul.menu li {
    list-style: none;
}
footer ul.menu li a {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
  clear: left;
  color: #FFFFFF;
}
footer .center {
    text-align: center;
}
footer .center h5 {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  color: #FFFFFF;
}
.social.der {
    width: 85%;
}

.page-login main {
    height: 800px;
}
.col-12.col-md-6.login-user-izq.img-login-user {
    float: left;
    padding-top: 0;
}
.col-12.col-md-6.login-user-der {
    float: right;
}
.user-login-d1 .login-user-izq.img-login-user .img-corchete {
  background-image: url(../img/Corchete_vertical_Azul.svg);
  background-size: contain;
  /* background-position: center; */
  background-repeat: no-repeat;
  /* position: relative; */
  background-position-y: center;
  background-position-x: center;
  height: 700px;
}
.user-login-d2 .login-user-izq.img-login-user .img-corchete {
  background-image: url(../img/Corchete_vertical_Dorado.svg);
  background-size: contain;
  /* background-position: center; */
  background-repeat: no-repeat;
  /* position: relative; */
  background-position-y: center;
  background-position-x: center;
  height: 700px;
}
.user-login-d1 .login-user-izq.img-login-user .img-fondo {
  display: flex;
  display: -webkit-flex;
  align-items: center;
  -webkit-align-items: center;
  /* padding: 85px 0; */
  background-image: url(../img/Img_registro_NL.png);
  background-size: contain;
  /* background-position: center; */
  background-repeat: no-repeat;
  /* position: relative; */
  background-position-y: center;
  background-position-x: center;
  height: 570px;
  width: 100%;
}
.user-login-d2 .login-user-izq.img-login-user .img-fondo {
  display: flex;
  display: -webkit-flex;
  align-items: center;
  -webkit-align-items: center;
  /* padding: 85px 0; */
  background-image: url(../img/Ingresa_azul_NL.png);
  background-size: contain;
  /* background-position: center; */
  background-repeat: no-repeat;
  /* position: relative; */
  background-position-y: center;
  background-position-x: center;
  height: 570px;
  width: 100%;
}
body.html.page-login.user-login-d3 main {
  background-image: url(../img/Background.png);
  background-size: cover;
  background-repeat: no-repeat;

}
body.html.page-login.user-login-d4 main {
  background-image: url(../img/Background.png);
  background-size: cover;
  background-repeat: no-repeat;
}
.user-login-d3 .login-user-izq.img-login-user .img-corchete {
  background-image: url(../img/Imagen_Registro_NL_Azul.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: center;
  height: 700px;
}
.user-login-d4 .login-user-izq.img-login-user .img-corchete {
  background-image: url(../img/Imagen_Registro_NL_Dorado.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: center;
  height: 700px;
}
body.html.page-login.user-login-d1 main h2 {
  font-family: 'Branding SF';
  font-style: normal;
  font-weight: 900;
  font-size: 28px;
  line-height: 34px;
  color: #15212F;
  text-align: center;
}
body.html.page-login.user-login-d2 main h2 {
  font-family: 'Branding SF';
  font-style: normal;
  font-weight: 900;
  font-size: 28px;
  line-height: 34px;
  color: #15212F;
  text-align: center;
}
body.html.page-login.user-login-d3 main h2 {
  font-family: 'Branding SF';
  font-style: normal;
  font-weight: 900;
  font-size: 28px;
  line-height: 34px;
  color: #15212F;
  text-align: center;
}
body.html.page-login.user-login-d4 main h2 {
  font-family: 'Branding SF';
  font-style: normal;
  font-weight: 900;
  font-size: 28px;
  line-height: 34px;
  color: #15212F;
  text-align: center;
}
body.html.page-login.user-login-d1 main p {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  color: #15212F;
  text-align: center;
}
body.html.page-login.user-login-d2 main p {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  color: #15212F;
  text-align: center;
}
body.html.page-login.user-login-d1 main input {
  background: #F6F9FD;
}
body.html.page-login.user-login-d2 main input {
  background: #F6F9FD;
}
body.html.page-login.user-login-d1 main input::placeholder {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #CCCCCC;
}
body.html.page-login.user-login-d2 main input::placeholder {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #CCCCCC;
}
.page-login main button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px 44px;
    gap: 10px;
    margin: 20px auto 0px auto;
    border-color: var(--primary);
    background: var(--primary);
    border-radius: 6px;
}
.page-login main button:hover {
  background: #AF8C55;
  border-color: #AF8C55;
}
.page-login main button:active {
  background: #AF8C55;
  border-color: #AF8C55;
}
body.html.page-login {
    margin: 0;
}
.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #AF8C55;
    border-color: #AF8C55;
}
.btn-primary.focus, .btn-primary:focus {
    box-shadow: unset !important;
}
a.recuperar-contrasena {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  color: #15212F;
  text-align: center;
  margin: 0 auto;
  display: block;
}
.user-login-d1 .login-user-izq .img-corchete h1 {
  font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 35px;
    line-height: 40px;
    color: #FFFFFF;
    width: 55%;
    margin: 0 auto 0px auto;
    padding-top: 45px;
}
.user-login-d2 .login-user-izq .img-corchete h1 {
  font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 35px;
    line-height: 40px;
    color: #FFFFFF;
    width: 55%;
    margin: 0 auto 0px auto;
    padding-top: 45px;
}
.user-login-d3 .login-user-der h1 {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 35px;
  line-height: 40px;
  /* or 114% */
  /* Dorado */
  color: #15212F;
}
.user-login-d4 .login-user-der h1 {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 35px;
  line-height: 40px;
  /* or 114% */
  /* Dorado */
  color: #15212F;
}

.page-capital-humano div#nav-bar .nav_list img {
    width: 20px;
    height: auto;
}
.l-navbar .logo_menu {
    background-image: url(../img/logo_nl.gob.mx-blanco-01.svg);
    width: 25px;
    height: 28px;
    background-repeat: no-repeat;
}
.body-pd .l-navbar.show {
    background: #ffffff;
}
.body-pd .l-navbar.show .logo_menu {
    background-image: url(../img/logo_nl.gob.mx-02.svg);
    width: 180px;
    height: 33px;
    background-repeat: no-repeat;
}
.page-capital-humano .nav span.nav_name {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #15212F;
  width: 175px;
}
.page-capital-humano .menu-mensaje {
    clear: left;
    margin: 0 auto;
  width: 218px;
  height: 275px;
  left: 80px;
  top: 562px;
  background: rgba(222, 229, 239, 0.3);
  border-radius: 3px;
}
.page-capital-humano .menu-mensaje h4 {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #15212F;
}
.page-capital-humano .menu-mensaje p {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  text-align: center;
  color: #15212F;
}
.page-capital-humano .l-navbar .menu-mensaje {
    display: none;
}
.page-capital-humano.body-pd .l-navbar.show .menu-mensaje {
  display: block;
  margin-top: 50px;
  margin-bottom: 50px;
}
.page-capital-humano.body-pd .l-navbar.show .menu-mensaje img {
    height: auto;
    width: 174px;
    position: relative;
    top: -47px;
}
.page-capital-humano table.table button.btn {
    border: 1px solid;
    border-radius: 30px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 11px;
    line-height: 130%;
    display: flex;
    align-items: center;
    text-align: center;
    color: #15212F;
    float: left;
}
.page-capital-humano table.table button.btn:hover {
  background: #DCA86B;
  /* Button Drop Shadow */
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
  border-radius: 14px;
  color: #FFFFFF;
}
.page-capital-humano table.table button.btn .icon-download {
    height: 13px;
    width: 13px;
    background-image: url(../img/download-bottom.svg);
    background-repeat: no-repeat;
}
.page-capital-humano table.table button.btn:hover .icon-download {
    height: 13px;
    width: 13px;
    background-image: url(../img/download-bottom-hover.svg);
    background-repeat: no-repeat;
    background-position: center;
}
.page-capital-humano table.table button.btn + button.btn {
    margin-left: 5px;
}
.page-capital-humano .content-nomina {
    background: #EFEFEF;
    clear: left;
    display: flow-root;
}
.bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }

      .b-example-divider {
        height: 3rem;
        background-color: rgba(0, 0, 0, .1);
        border: solid rgba(0, 0, 0, .15);
        border-width: 1px 0;
        box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
      }

      .b-example-vr {
        flex-shrink: 0;
        width: 1.5rem;
        height: 100vh;
      }

      .bi {
        vertical-align: -.125em;
        fill: currentColor;
      }

      .nav-scroller {
        position: relative;
        z-index: 2;
        height: 2.75rem;
        overflow-y: hidden;
      }

      .nav-scroller .nav {
        display: flex;
        flex-wrap: nowrap;
        padding-bottom: 1rem;
        margin-top: -1px;
        overflow-x: auto;
        text-align: center;
        white-space: nowrap;
        -webkit-overflow-scrolling: touch;
      }
.page-capital-humano .content-nomina {
    margin: calc(var(--header-height) + 1rem) 0 0 0;
    padding-left: calc(var(--nav-width) + 2rem);
}
.page-capital-humano .content-nomina h4 {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  color: #15212F;
  height: 33px;
}
.page-capital-humano .content-nomina .border-small {
    background: #AF8C55;
    width: 5%;
    height: 5px;
}
.page-capital-humano .white {
    background: #fff;
}
.page-capital-humano .content-nomina h3 {
    text-align: center;
}
.page-capital-humano .avisos.white ul.list-unstyled a {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #15212F;
}
.page-capital-humano .avisos.white {
    padding: 7% !important;
}
.page-capital-humano .bx.bx-menu{
  color: #AF8C55;
}
.page-capital-humano .bx.bx-menu{
  color: #AF8C55;
}
.page-capital-humano .datos-user {
    /* vertical-align: middle; */
    float: left;
    margin-right: 20px;
}
.page-capital-humano .datos-user .name {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  color: #394A64;
}
.page-capital-humano .datos-user .dependencia {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 9px;
  line-height: 130%;
  color: #394A64;
}
.page .dropdown-menu .dropdown-item {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 16px;
  color: #15212F;
}
.page .dropdown-menu .num-empleado {
    padding: 0 20px;
}
.page .dropdown-menu .num-empleado-label {
   font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 15px;
  margin-bottom: 8px;
  color: #15212F;
}
.page .dropdown-menu .num-empleado-codigo {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 20px;
  color: #394A64;
}
.page .dropdown-menu .dropdown-item img {
    height: auto;
    width: 25px;
}
.page .dropdown-menu button.btn.green {
    background: #00BFA5;
    border-radius: 35px;
    color: #ffffff;
    font-family: 'Poppins';
}
.page .dropdown-menu button.btn.brown {
    background: #CFA86E;
    border-radius: 35px;
    color: #ffffff;
    font-family: 'Poppins';
}
.page .dropdown-menu .usuario-perfil-controles {
    margin: 15px 20px;
}
.page.page-capital-humano.nomina form input {
    font-family: 'Poppins';
}



:root{--header-height: 3rem;--nav-width: 70px;--first-color: #4723D9;--first-color-light: #AFA5D9;--white-color: #F7F6FB;--body-font: 'Nunito', sans-serif;--normal-font-size: 1rem;--z-fixed: 100}*,::before,::after{box-sizing: border-box}body{margin: var(--header-height) 0 0 0;}a{text-decoration: none}.header{width: 100%;height: var(--header-height);position: fixed;top: 0;left: 0;display: flex;align-items: center;justify-content: space-between;padding: 0 1rem;background-color: var(--white-color);z-index: var(--z-fixed);transition: .5s}.header_toggle{color: var(--first-color);font-size: 1.5rem;cursor: pointer}.header_img{width: 35px;height: 35px;display: flex;justify-content: center;border-radius: 50%;overflow: hidden}.header_img img{width: 40px}.l-navbar{position: fixed;top: 0;left: -30%;width: var(--nav-width);height: 100vh;background: #15212F;box-shadow: 0px 4px 4px 4px rgba(0, 0, 0, 0.03);padding: .5rem 1rem 0 0;transition: .5s;z-index: var(--z-fixed)}.nav{height: 100%;display: flex;flex-direction: column;justify-content: space-between;overflow-x: hidden}.nav_logo, .nav_link{display: grid;grid-template-columns: max-content max-content;align-items: center;column-gap: 1rem;padding: .5rem 0 .5rem 1.5rem}.nav_logo{margin-bottom: 2rem}.nav_logo-icon{font-size: 1.25rem;color: var(--white-color)}.nav_logo-name{color: var(--white-color);font-weight: 700}.nav_link{position: relative;color: var(--first-color-light);margin-bottom: 1rem;transition: .3s}.nav_link:hover{color: var(--white-color)}.nav_icon{font-size: 1.25rem}.show{left: 0}.body-pd{padding-left: calc(var(--nav-width) + 1rem)}.active{color: var(--white-color)}.active::before{content: '';position: absolute;left: 0;width: 2px;height: 32px;background-color: var(--white-color)}.height-100{height:100vh}@media screen and (min-width: 768px){.header{height: calc(var(--header-height) + 1rem);padding: 0 2rem 0 calc(var(--nav-width) + 2rem)}.header_img{width: 40px;height: 40px}.header_img img{width: 45px}.l-navbar{left: 0;padding: 1rem 1rem 0 0}.show{width: calc(var(--nav-width) + 230px)}.body-pd{padding-left: calc(var(--nav-width) + 153px)}}

/*CSS Table vertical*/
@media all and (device-width: 768px) and (device-height: 1024px) and (orientation:portrait) {
  .page-login main {
    height: 650px;
  }
  .user-login-d1 .login-user-izq.img-login-user .img-corchete {
    background-position-y: top;
    height: 650px;
  }
  .user-login-d1 .login-user-izq .img-corchete h1 {
    font-size: 23px;
    width: 75%;
  }
  .user-login-d1 .login-user-izq.img-login-user .img-fondo {
    height: 440px;
  }
  .user-login-d2 .login-user-izq.img-login-user .img-corchete {
    background-position-y: top;
    height: 650px;
  }
  .user-login-d2 .login-user-izq .img-corchete h1 {
    font-size: 23px;
    width: 75%;
  }
  .user-login-d2 .login-user-izq.img-login-user .img-fondo {
    height: 440px;
  }
  footer .region.region-footer-logo img.footer_img {
    padding: 0% 40%;
  } 
  body.html.page-login.user-login-login main .corchete-blanco {
    height: 630px !important;
  }
  body.html.page-login.home .block.block-seccion-1.clearfix .card.shadow-sm .circulo-img {
    right: 33% !important;
    bottom: 37% !important;
  }
  body.html.page-login.home .block.block-seccion-1.clearfix .card-body {
    height: 180px !important;
    padding: 2.5rem 0.5rem !important; 
  }
  body.html.page-login.user-login-login .login-user-der {
    float: right;
    display: none;
  }

}
/*CSS Table Horizontal*/
@media all and (device-width: 1024px) and (device-height: 768px) and (orientation:landscape) {
  .page-login main {
    height: 850px;
  }
  .user-login-d1 .login-user-izq .img-corchete h1 {
    width: 75%;
  }
  .user-login-d1 .login-user-izq.img-login-user .img-fondo {
    height: 650px;
  }
  .user-login-d2 .login-user-izq .img-corchete h1 {
    width: 75%;
  }
  .user-login-d2 .login-user-izq.img-login-user .img-fondo {
    height: 650px;
  }
  footer .region.region-footer-logo img.footer_img {
    padding: 0% 40%;
  }
  body.html.page-login.user-login-login main {
    height: 640px;
  }
  body.html.page-login.user-login-login main .corchete-blanco {
    height: 627px !important;
  }
  body.html.page-login.home .block.block-seccion-1.clearfix .card-body {
    height: 155px !important;
  }
  body.html.page-login.home .block.block-seccion-1.clearfix .card.shadow-sm .circulo-img {
    right: 32% !important;
    bottom: 35% !important;
  }

}

@media only screen and (max-width: 768px) {
  header#navbar .label-header {
    font-size: 11px;
  }
  body.html.page-login.user-login-login .login-user-der {
    float: right;
    display: none;
  }
}
/*CSS Mobil*/
@media only screen and (max-width: 600px) {
  .page-login .col-12.col-md-6.login-user-izq.img-login-user {
    display: none;
  }
  .page-login main {
    height: 550px;
  }
  .page-login.user-login-d3 main {
    height: 750px;
  }
  .page-login.user-login-d4 main {
    height: 750px;
  }
  .user-login-d3 .login-user-der h1 {
    font-size: 25px;
    line-height: 30px;
    text-align: center;
  }
  .user-login-d4 .login-user-der h1 {
    font-size: 25px;
    line-height: 30px;
    text-align: center;
  }
  footer .region.region-footer-logo img.footer_img {
    padding: 0% 30%;
  }
  body.html.page-login.user-login-login .col-12.col-md-6.login-user-izq.img-login-user {
    display: block;
  }
  body.html.page-login.user-login-login main .corchete-blanco {
    height: 600px !important;
    width: 375px !important;
  }
  body.html.page-login.user-login-login .col-12.col-md-6.login-user-der {
    display: none;
  }
  body.html.page-login.user-login-login main {
    height: 620px;
  }
  /* Portal de empleados Login */
  body.html.page-login.user-login-login main .login-user-izq.img-login-user form.form-signin img.logo-login {
    width: 45% !important;
  }
  body.html.page-login.user-login-login main .login-user-izq.img-login-user form.form-signin h2 {
    font-size: 23px !important;
  }
  body.html.page-login.user-login-login main .login-user-izq.img-login-user form.form-signin p {
    font-size: 12px !important;
  }
  body.html.page-login.user-login-login main .col-12.inicio h1 {
    font-size: 45px !important;
    line-height: 45px !important;
  }
  body.html.page-login.user-login-login.inicio main a.button.btn.btn-primary {
    width: 50% !important;
  }
  body.html.page-login.user-login-login main a.button.btn.btn-primary {
    width: 50% !important;
  }
  .nomina .ambiental-economico .col-impacto {
    width: calc(100% / 1) !important;
  }
}


/* Portal de empleados LOGIN */

body.html.page-login.user-login-login main {
    background-image: url(../img/Background_torre.png);
    background-size: cover;
    background-repeat: no-repeat;
}
body.html.page-login.user-login-login main .corchete-blanco {
    background-image: url(../img/corchete_vertical_blanco.svg);
    background-size: auto;
    background-repeat: no-repeat;
    height: 700px;
    width: 450px;
    margin: 0 auto;
    background-position-y: -1px;
}
body.html.page-login.user-login-login .col-12.col-md-12.col-lg-6.col-xl-6.login-user-izq.img-login-user {
    float: left;
    padding-top: 0;
}
body.html.page-login.user-login-login main .login-user-izq.img-login-user form.form-signin img.logo-login {
    width: 35%;
    height: auto;
    margin: 0 auto;
    display: block;
}
body.html.page-login.user-login-login main .login-user-izq.img-login-user form.form-signin h2 {
  font-family: 'Branding SF';
  font-style: normal;
  font-weight: 900;
  font-size: 28px;
  line-height: 34px;
  color: var(--primary);
  text-align: center;
}
body.html.page-login.user-login-login main .login-user-izq.img-login-user form.form-signin p {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  color: #15212F;
  width: 98%;
}
body.html.page-login.user-login-login main .login-user-izq.img-login-user form.form-signin p + br + p {
    text-align: center;
}
body.html.page-login.user-login-login main .corchete-blanco input {
  background: #FFFFFF;
  /* Dorado */
  border: 1px solid var(--primary);
  border-radius: 6px;
}
body.html.page-login.user-login-login main .col-12.inicio {
    margin: 0 auto;
}
body.html.page-login.user-login-login main .col-12.inicio h1 {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 70px;
  line-height: 70px;
  color: #15212F;
} 
body.html.page-login.user-login-login main .col-12.inicio p {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 32px;
  color: #FFFFFF;
} 
body.html.page-login.user-login-login main .col-12.inicio button {
  border-radius: 51px;
}
body.html.page-login.user-login-login.inicio main a.button.btn.btn-primary {
  justify-content: center;
  align-items: center;
  padding: 16px 44px;
  gap: 10px;
  margin: 20px auto 0px auto;
  border-color: #15212F;
  background: #15212F;
  border-radius: 51px;
  width: 35%;
  display: block;
}
body.html.page-login.user-login-login main a.button.btn.btn-primary {
  display: block;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 16px 44px;
  gap: 10px;
  margin: 20px auto 0px auto;
  border-color: #15212F;
  background: #15212F;
  border-radius: 6px;
  width: 45%;
}
body.html.page-login.user-login-login main a.button.btn.btn-primary:focus,
body.html.page-login.user-login-login main a.button.btn.btn-primary:hover {
  color: #fff;
  background-color: #AF8C55;
  border-color: #AF8C55;
}

/* Perfil de usuario */
body.page.page-capital-humano.sesion-activa .perfil {
    background: #fff;
    padding-top: 0;
}
body.page.page-capital-humano.sesion-activa .perfil.datos {
    margin: 100px 0;
}
body.page.page-capital-humano.sesion-activa .perfil .row:first-child {
  background: #00BFA5;
  box-shadow: 0px 4px 30px 4px rgba(0, 0, 0, 0.03);
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
}
body.page.page-capital-humano.sesion-activa .perfil .label {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #A4B0C0;
}
body.page.page-capital-humano.sesion-activa .perfil .value,
body.page.page-capital-humano.sesion-activa .perfil .value input {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  color: #15212F;
}
body.page.page-capital-humano.sesion-activa .perfil .usuario-perfil-controles button.black {
  background: #051C2C;
  border-radius: 27px;
  align-items: center;
  padding: 11px 22px;
  gap: 18px;
  color: #FFFFFF;
}
body.page.page-capital-humano.sesion-activa .perfil .usuario-perfil-controles button.btn.edit {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
  text-decoration-line: underline;
  color: #394A64;
}

body.page.page-capital-humano.sesion-inactiva .perfil {
    background: #fff;
    padding-top: 0;
}
body.page.page-capital-humano.sesion-inactiva .perfil.datos {
    margin: 100px 0;
}
body.page.page-capital-humano.sesion-inactiva .perfil .row:first-child {
  background: #EACC7B;;
  box-shadow: 0px 4px 30px 4px rgba(0, 0, 0, 0.03);
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
}
body.page.page-capital-humano.sesion-inactiva .perfil .label {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #A4B0C0;
}
body.page.page-capital-humano.sesion-inactiva .perfil .value,
body.page.page-capital-humano.sesion-inactiva .perfil .value input {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  color: #15212F;
}
body.page.page-capital-humano.sesion-inactiva .perfil .usuario-perfil-controles button.black {
  background: #051C2C;
  border-radius: 27px;
  align-items: center;
  padding: 11px 22px;
  gap: 18px;
  color: #FFFFFF;
}
body.page.page-capital-humano.sesion-inactiva .perfil .usuario-perfil-controles button.btn.edit {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
  text-decoration-line: underline;
  color: #394A64;
}

/*  Home  */

body.html.page-login.home {
    padding-top: 0;
}
body.html.page-login.home main {
  height: 100%;
  margin-top: 100px;
    margin-bottom: 100px;
}
body.html.page-login.home main h1.title-seccion {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  /* identical to box height, or 125% */
  text-align: center;
  color: #15212F;
}
body.html.page-login.home section.top-container.top-container--front.gradient-overlay {
  display: flex;
  display: -webkit-flex;
  align-items: center;
  -webkit-align-items: center;
  padding: 85px 0;
  min-height: 65vh;
  background-image: url(../img/home_encabezado.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  background-position-y: inherit;
}
body.html.page-login.home .region.region-page-banner .top-container h1.page-header {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 40px;
  color: #FFFFFF;
}
body.html.page-login.home .block.block-seccion-1.clearfix .card-body {
  background: #15212F;
  border-radius: 0px 0px 6px 6px;
  height: 130px;
  padding: 1.8rem 1.5rem;
}
body.html.page-login.home .block.block-seccion-1.clearfix .card-body p.card-text {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  text-align: center;
  color: #AF8C55;
  margin-bottom: 0;
}
body.html.page-login.home .block.block-seccion-1.clearfix .card-body .subtitle {
  font-family: 'Poppins';
  font-style: normal;
  font-weight:normal;
  font-size: 14px;
  line-height: 27px;
  text-align: center;
  color: #AF8C55;
}
body.html.page-login.home .block.block-seccion-1.clearfix .card.shadow-sm .circulo-img {
    height: 75px;
    width: 75px;
    position: absolute;
    right: 37%;
    bottom: 30%;
}
body.html.page-login.home .block.block-seccion-1.clearfix .card.shadow-sm .img-servicios-disponibles {
    height: 225px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

    body.html.page-login.home .block.block-seccion-1.clearfix .card.shadow-sm .img-servicios-disponibles.C8 {
        background-image: url(../Boletines/IMG/8_COMPARTE_JUNIO_A.jpg);
    }


body.html.page-login.home .block.block-seccion-1.clearfix .card.shadow-sm .img-servicios-disponibles.nomina {
  background-image: url(../img/nomina.png);
}
body.html.page-login.home .block.block-seccion-1.clearfix .card.shadow-sm .img-servicios-disponibles.fondo_ahorro {
  background-image: url(../img/fondo_ahorro.png);
}
body.html.page-login.home .block.block-seccion-1.clearfix .card.shadow-sm .img-servicios-disponibles.fondo_a_retiro {
  background-image: url(../img/fondo_a_retiro.png);
}
body.html.page-login.home .block.block-seccion-1.clearfix .card.shadow-sm .img-servicios-disponibles.cursos_online {
  background-image: url(../img/cursos_online.png);
}
body.html.page-login.home .block.block-seccion-1.clearfix .card.shadow-sm .img-servicios-disponibles.declaracion_patrimonial {
  background-image: url(../img/declaracion_patrimonial.png);
}
body.html.page-login.home .block.block-seccion-1.clearfix .card.shadow-sm .img-servicios-disponibles.constancia_sueldos {
  background-image: url(../img/constancia_sueldos.png);
}
body.html.page-login.home .block.block-seccion-1.clearfix .card.shadow-sm .img-servicios-disponibles.boletin {
  background-image: url(../img/boletin.png);
}
body.html.page-login.home .block.block-seccion-1.clearfix .card.shadow-sm .img-servicios-disponibles.Vacaciones {
  background-image: url(../img/Vacaciones.png);
}
body.html.page-login.home .block.block-seccion-1.clearfix .card.shadow-sm .img-nomina {
  background-image: url(../img/c_nomina.svg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: center;
}
  
body.html.page-login.home .block.block-seccion-1.clearfix .card.shadow-sm .img-fondo-ahorro {
  background-image: url(../img/c_ahorro.svg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: center;
}
body.html.page-login.home .block.block-seccion-1.clearfix .card.shadow-sm .img-f-ahorro-retiro {
  background-image: url(../img/c_ahorro_retiro.svg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: center;
}
body.html.page-login.home .block.block-seccion-1.clearfix .card.shadow-sm .img-cursos-online {
  background-image: url(../img/c_cursos_online.svg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: center;
}
body.html.page-login.home .block.block-seccion-1.clearfix .card.shadow-sm .img-declaracion-patrimonial {
  background-image: url(../img/c_inf_declaracion.svg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: center;
}
body.html.page-login.home .block.block-seccion-1.clearfix .card.shadow-sm .img-sueldos-retenciones {
  background-image: url(../img/c_retencion.svg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: center;
}
body.html.page-login.home .block.block-seccion-1.clearfix .card.shadow-sm .img-boletin {
  background-image: url(../img/c_boletin.svg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: center;
}
body.html.page-login.home .block.block-seccion-1.clearfix .card.shadow-sm .img-vacaciones {
  background-image: url(../img/c_vacaciones.svg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: center;
}
.carousel-item {
  background-color: unset;
}
body.html.page-login.home .block.block-seccion-3.clearfix img.img-nuestros-valores {
    width: 55px;
    height: 55px;
    margin: 30px auto;
    display: block;
}
body.html.page-login.home .block.block-seccion-3.clearfix h2 {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 30px;
  color: #15212F;
  margin: 0 auto;
    display: table;
}
body.html.page-login.home .block.block-seccion-3.clearfix p {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
  text-align: center;
  color: #15212F;
}
.menu-main .title-header {
  font-family: 'Branding SF';
  font-style: normal;
  font-weight: 900;
  font-size: 28px;
  line-height: 34px;
  color: #15212F;
}
.menu-main .menu-horizontal {
  width: 325px;
  flex-direction: unset;
  padding: 0;
}
.menu-main .menu-horizontal li {
    float: left;
    width: auto;
}
.show {
    width: unset;
}
.menu-main .menu-horizontal li a {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #15212F;
}
.menu-main .menu-horizontal li a.activo {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-decoration-line: underline;
  color: #AF8C55;
}
.page.page-capital-humano.nomina .main-container.container--wide.container {
    margin-top: 0;
}
.page.page-capital-humano.nomina .main-container.container--wide.container .container {
    margin: 0;
}
.page.page-capital-humano.nomina .main-container.container--wide.container .container {
    margin: 0;
}
.page.page-capital-humano.nomina .main-container.container--wide.container .container select#numrows {
    height: 35px;
}
.page.page-capital-humano.nomina .main-container.container--wide.container .container div#for_filter_by select#filter_by {
    height: 35px;
}
.page.page-capital-humano.nomina .main-container.container--wide.container .container div#for_filter_by {
    font-family: 'Poppins';
    width: 393px;
    padding-right: 0;
}
.nomina .ambiental-economico .col-impacto {
    width: calc(100% / 5);
}
.nomina .ambiental-economico .col-impacto .cuadro-azul {
  background: #15212F;
  box-shadow: 40px 50px 60px rgb(0 0 0 / 8%);
  backdrop-filter: blur(20px);
  border-radius: 5px;
  padding: 8%;
  width: 100%;
  height: 215px;
}
.nomina .ambiental-economico .col-impacto .cuadro-azul .img-impacto {
    width: 75px;
    height: 85px;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-size: 100%;
    margin-bottom: 2px;
}
.nomina .ambiental-economico .col-impacto .cuadro-azul p {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 15px;
  color: #FFFFFF;
  text-align: center;
  height: 30px;
}
.nomina .ambiental-economico .col-impacto .cuadro-azul .numeralia {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 800;
  font-size: 22px;
  line-height: 27px;
  color: #CFA86E;
  text-align: center;
}
.nomina .ambiental-economico .col-impacto .cuadro-azul .hojas {
    background-image: url(../img/Pepel.svg);
}
.nomina .ambiental-economico .col-impacto .cuadro-azul .arbol {
    background-image: url(../img/Arboles.svg);
}
.nomina .ambiental-economico .col-impacto .cuadro-azul .dinero {
    background-image: url(../img/dinero.svg);
}
.nomina .ambiental-economico .col-impacto .cuadro-azul .agua {
    background-image: url(../img/Agua.svg);
}
.nomina .ambiental-economico .col-impacto .cuadro-azul .auto {
    background-image: url(../img/Gasolina.svg);
}
.nomina .ambiental-economico .col-impacto .cuadro-azul .madera {
    background-image: url(../img/Madera.svg);
}
.nomina .ambiental-economico .col-impacto .cuadro-azul .energia {
    background-image: url(../img/Energia.svg);
}
.nomina .ambiental-economico .col-impacto .cuadro-azul .CO {
    background-image: url(../img/Carbono.svg);
}
.nomina .ambiental-economico .col-impacto .cuadro-azul .tinta {
    background-image: url(../img/Tinta.svg);
}
.nomina .ambiental-economico .col-impacto .cuadro-azul .mano-obra {
    background-image: url(../img/Horario.svg);
}
.nomina .ambiental-economico .col-impacto .text-impacto {
    padding: 8%;
}
.nomina .ambiental-economico .col-impacto .text-impacto p {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  color: #15212F;
}
.page.page-capital-humano.nomina .main-container.container--wide.container .container.ambiental-economico h1.title-seccion {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: #15212F;
}
.page.page-capital-humano.nomina .main-container.container--wide.container .container.ambiental-economico {
    margin-top: 100px !important;
}
body.html.page-login.home .block.block-seccion-1.clearfix .container .card.shadow-sm {
  height: 350px;
}
body.html.page-login.home .block.block-seccion-1.clearfix .container .card.shadow-sm:hover .card-body {
    height: 140px;
    transition: .3s;
    background: #AF8C55;
}
body.html.page-login.home .block.block-seccion-1.clearfix .container .card.shadow-sm:hover .card-body p.card-text {
    color: #15212F;
    font-weight: 700;
}
body.html.page-login.home .block.block-seccion-1.clearfix .container .card.shadow-sm:hover .card-body .subtitle {
    color: #15212F;
    font-weight: 700;
}
body.html.page-login.home .block.block-seccion-1.clearfix .container .card.shadow-sm:hover .circulo-img {
    bottom: 33%;
    transition: .3s;
}
body.html.page-login.home .block.block-seccion-1.clearfix .container a:hover {
  text-decoration: unset;
}
body.html.page-login.home .block.block-seccion-1.clearfix .container .card.shadow-sm:hover .img-C1 {
    background-image: url(../Boletines/IMG/1_COMPARTE_FEBRERO_A.jpg);
}
body.html.page-login.home .block.block-seccion-1.clearfix .container .card.shadow-sm:hover .img-C2 {
    background-image: url(../Boletines/IMG/2_COMPARTE_FEBRERO_B.jpg);
}
body.html.page-login.home .block.block-seccion-1.clearfix .container .card.shadow-sm:hover .img-C3 {
    background-image: url(../Boletines/IMG/3_COMPARTE_MARZO_B.jpg);
}
body.html.page-login.home .block.block-seccion-1.clearfix .container .card.shadow-sm:hover .img-4 {
    background-image: url(../Boletines/IMG/4_COMPARTE_ABRIL_A.jpg);
}
body.html.page-login.home .block.block-seccion-1.clearfix .container .card.shadow-sm:hover .img-C5 {
    background-image: url(../Boletines/IMG/5_COMPARTE_ABRIL_B.jpg);
}
body.html.page-login.home .block.block-seccion-1.clearfix .container .card.shadow-sm:hover .img-C6 {
    background-image: url(../Boletines/IMG/6_COMPARTE_MAYO_A.jpg);
}
body.html.page-login.home .block.block-seccion-1.clearfix .container .card.shadow-sm:hover .img-C7 {
    background-image: url(../Boletines/IMG/7_COMPARTE_MAYO_B.jpg);
}
body.html.page-login.home .block.block-seccion-1.clearfix .container .card.shadow-sm:hover .img-C8 {
    background-image: url(../Boletines/IMG/8_COMPARTE_JUNIO_A.jpg);
}
body.html.page-login.home .block.block-seccion-1.clearfix .container .card.shadow-sm:hover .img-nomina {
  background-image: url(../img/ch_nomina.svg);
}
body.html.page-login.home .block.block-seccion-1.clearfix .container .card.shadow-sm:hover .img-fondo-ahorro {
  background-image: url(../img/ch_ahorro.svg);
}
body.html.page-login.home .block.block-seccion-1.clearfix .container .card.shadow-sm:hover .img-f-ahorro-retiro {
  background-image: url(../img/ch_ahorro_retiro.svg);
}
body.html.page-login.home .block.block-seccion-1.clearfix .container .card.shadow-sm:hover .img-cursos-online {
  background-image: url(../img/ch_cursos_online.svg);
}
body.html.page-login.home .block.block-seccion-1.clearfix .container .card.shadow-sm:hover .img-declaracion-patrimonial {
  background-image: url(../img/ch_inf_declaracion.svg);
}
body.html.page-login.home .block.block-seccion-1.clearfix .container .card.shadow-sm:hover .img-sueldos-retenciones {
  background-image: url(../img/ch_retencion.svg);
}
body.html.page-login.home .block.block-seccion-1.clearfix .container .card.shadow-sm:hover .img-boletin {
  background-image: url(../img/ch_boletin.svg);
}
body.html.page-login.home .block.block-seccion-1.clearfix .container .card.shadow-sm:hover .img-vacaciones {
  background-image: url(../img/ch_vacaciones.svg);
}

/* Tabla */
table.tablemanager.table {
    border: none !important;
}
.table .thead-dark th {
    color: #fff;
    background: #15212F;
  border-radius: 3px 3px 0px 0px;
}
.table th, .table td {
  border-top: none !important;
  border-left: none !important;
  border-right: none !important; 
  border-color: #A4B0C0;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 15px;
  color: #15212F;
}
#pagesControllers button {
    border: none !important;
}
#pagesControllers button.currentPage {
  border-bottom: 1px solid #CFA86E !important;
}
#pagesControllers button.pagecontroller.pagecontroller-f,
#pagesControllers button.pagecontroller.pagecontroller-p,
#pagesControllers button.pagecontroller.pagecontroller-n,
#pagesControllers button.pagecontroller.pagecontroller-l {
    color: #AF8C55;;
}
.table .thead-dark th {
  border-radius: unset; 
}
div#for_filter_by {
    width: 400px;
}
div#for_filter_by label {
    margin-right: 20px;
}
div#for_filter_by select#filter_by {
    margin-right: 20px;
}
.box-linea {
    width: 100%;
    display: block;
    height: 1px;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 6%);
    background: #FFFFFF;
}
.body-pd div#nav-bar a.nav_link.active {
    background: rgba(222, 229, 239, 0.6);
    text-decoration: underline;
    text-decoration-color: #AF8C55;
}
.prox {
    width: 84px;
    /* float: left; */
    background: #DCA86B;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 10px;
    color: #FFFFFF;
    padding: 2%;
    margin-right: 20px;
    display: inline-block;
    margin-left: 20px;
}
.page.page-capital-humano.nomina header .header_toggle i {
  background-image: url(../img/header-arrow-w.svg);
  width: 30px;
  height: 30px;
}
.page.page-capital-humano.nomina.body-pd header.body-pd .header_toggle i {
  background-image: url(../img/header-arrow.svg);
  width: 30px;
  height: 30px;
}
.page.page-capital-humano.nomina header .header_toggle i:before {
    content: "";
}
body.html.page-login.user-login-login .login-user-der {
    float: right;
}
body.html.page-login.user-login-login.inicio .login-user-der .img-corchete {
    background-image: url(../img/minuevoportal.png);
    width: 310px;
    height: 150px;
    background-size: contain;
    background-repeat: no-repeat;
    float: right;
    background-position-x: right;
}
body.html.page-login.user-login-login.recuperar-contraseña .login-user-der .img-corchete {
    background-image: url(../img/minuevoportal.png);
    width: 310px;
    height: 150px;
    background-size: contain;
    background-repeat: no-repeat;
    float: right;
    background-position-x: right;
}

body.html.page-login.user-login-login .login-user-der .img-corchete {
    background-image: url(../img/minuevoportal.png);
    width: 310px;
    height: 150px;
    background-size: contain;
    background-repeat: no-repeat;
    float: right;
    background-position-x: right;
}

.logo-nuevo-portal {
   width: 25%;
   height: auto;
   margin: 0 auto;
}

.separator {
    width: 1px;
    height: auto;
    background-color: var(--secondary)
}

.label-input {
    margin-bottom: 0px;
    font-weight: 650;
}

.font-primary {
    color: var(--primary)
}


.banner-default {
    width: 100%;
    min-height: 432px;
    background-image: linear-gradient(90deg,rgba(89, 141, 149, 0.823) 100%, rgba(89, 141, 149, 0.478) 100%), url(../img/Img_Top.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.d-flex {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
}

.baner-title {
    display: block;
    width: 30%;
    font-size: 2rem;
    color: white;
}

.banner-width {
    width: 25%;
}

.banner-input {
    width: 100%;
    border-radius: 5px 0 0 5px !important;
}

.btn-buscar {
    padding: 5px 40px;
    background-color: #AD8A59 !important;
    color: white !important;
    border-radius: 0 5px 5px 0 !important;
    -webkit-appearance: button;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    border: 1px solid transparent;
}


.seccion-container {
    width: 297px;
    height: 371px;
    background-color: #DAE5E7;
    border-radius: 5px;
}


    .seccion-container .info {
        background-color: #DAE5E7;
    }

    .seccion-container .seccion-icon {
        width: 20px;
    }

a .seccion-container span {
    font-weight: 600;
    text-decoration: none !important;
    color: black;
}